<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="k3ToATTask" class="com.jwei.task.K3ToAoTingTaskMain"/>
    <bean id="hrTask" class="com.jwei.task.HrTaskMain"/>
    <bean id="k3Task" class="com.jwei.task.K3TaskMain"/>

    <task:scheduled-tasks>
        <task:scheduled ref="k3ToATTask" method="doK3ToAoTing" cron="0 0/5 8-23 * * ?"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>

        <task:scheduled ref="hrTask" method="doBirthdayNotify" cron="0 0 9 20 * ?"/>
        <task:scheduled ref="hrTask" method="doContractNotify" cron="0 0 9 ? * MON"/>


        <task:scheduled ref="k3Task" method="productionOvertimeNotify" cron="0 0 9 ? * MON-FRI"/>
        <task:scheduled ref="k3Task" method="purchaseOvertimeNotify" cron="0 0 9 ? * MON-FRI"/>

        <!--<task:scheduled ref="k3Task" method="productionOvertimeNotify" initial-delay="5000" fixed-rate="3000000"/>-->
        <!--<task:scheduled ref="k3Task" method="purchaseOvertimeNotify" initial-delay="5000" fixed-rate="3000000"/>-->

    </task:scheduled-tasks>


    <!--
    ref是工作类
    method是工作类中要执行的方法
    initial-delay是任务第一次被调用前的延时，单位毫秒
    fixed-delay是上一个调用完成后再次调用的延时
    fixed-rate是上一个调用开始后再次调用的延时（不用等待上一次调用完成）
    cron是表达式，表示在什么时候进行任务调度。
    -->

</beans>