<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwei.task.dao.K3Mapper">

  <select id="selectSaleOrder" resultType="java.util.HashMap">
    SELECT FInterID orderId,FHeadSelfS0155 orderNo,
    (select fid from t_SubMessage where FInterID=FHeadSelfS0186) aotingFlag
    FROM SEOrder where FHeadSelfS0186 in (990134,990135) and FCancellation=0
  </select>

    <!--(select fname from t_Organization where fitemid=fcustid) custName,-->
    <!--从经纬账套 获取销售订单 相关字段信息-->
  <select id="selectJWByOrderId" parameterType="java.lang.String" resultType="java.util.HashMap">
    select FInterID id,fbillno orderNo,fcustid
    custId,'测试客户' custName,
    FHeadSelfS0183 industryId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0183) industryName,
    fdeptid deptId,
    (select fname from t_department where FItemID=fdeptid) deptName,
    FEmpID saleId,
    (select fname from t_emp where FItemID=FEmpID) saleName,
    FBillerid createId,
    (select fname from t_user where fuserid=FBillerid) createName,
    FHeadSelfS0154 saleChannelId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0154) saleChannel,
    fareaps saleAreaId,
    (select fname from t_SubMessage where FInterID=fareaps) saleArea,
    FSaleStyle saleStyleId,
    (select fname from t_SubMessage where FInterID=FSaleStyle) saleStyle,
    FHeadSelfS0156 custUseSoft,
    FHeadSelfS0155 sendDate,
    FHeadSelfS0157 controlCentId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0157) controlCent,
    FHeadSelfS0158 receiver, FHeadSelfS0159 linkman,FHeadSelfS0160 linkphone,fdate orderDate,ffetchadd sendAdd,
    FHeadSelfS0165 boxConfig,
    FHeadSelfS0161 payStyleId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0161) payStyle,
    FHeadSelfS0162 serviceId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0162) service,
    FHeadSelfS0163 OEMId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0163) OEM,
    FHeadSelfS0164 guaranteeId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0164) guarantee,
    FHeadSelfS0181 powerLineId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0181) powerLine,
    FHeadSelfS0182 boxId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0182) box,
    FHeadSelfS0166 printLineId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0166) printLine,
    FHeadSelfS0167 noteBookId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0167) noteBook,
    FHeadSelfS0168 packId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0168) pack,
    FHeadSelfS0169 CEId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0169) CE,
    FHeadSelfS0170 fumigateId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0170) fumigate,
    FHeadSelfS0171 markId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0171) mark,
    FHeadSelfS0172 correctionNoteId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0172) correctionNote,
    FHeadSelfS0173 tableTopId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0173) tableTop,
    FHeadSelfS0174 setPasswordid,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0174) setPassword,
    FHeadSelfS0184 endCustId,
    (select fname from t_Organization where fitemid=FHeadSelfS0184) endCust,
    FHeadSelfS0175 gift,FHeadSelfS0176 remark
    from SEOrder
    where FInterID = #{orderId,jdbcType=VARCHAR}

  </select>
    <!--从易图账套 获取销售订单 相关字段信息-->
    <!--fcustid custId,(select fname from t_Organization where fitemid=fcustid) custName,-->
    <!--该字段在易图账套不表示代理商或客户，用FHeadSelfS0187 代替奥汀的客户-->
  <select id="selectYTByOrderId" parameterType="java.lang.String" resultType="java.util.HashMap">
    select
    FInterID id,FHeadSelfS0155 orderNo, FHeadSelfS0187 custName,FExplanation subject,
    FHeadSelfS0162 industryId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0162) industryName,
    fdeptid deptId,
    (select fname from t_department where FItemID=fdeptid) deptName,
    FEmpID saleId,
    (select fname from t_emp where FItemID=FEmpID) saleName,
    FBillerid createId,
    (select fname from t_user where fuserid=FBillerid) createName,
    FHeadSelfS0154 saleChannelId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0154) saleChannel,
    FAreaPS saleAreaId,
    (select fname from t_SubMessage where FInterID=FAreaPS) saleArea,
    FSaleStyle saleStyleId,
    (select fname from t_SubMessage where FInterID=FSaleStyle) saleStyle,
    FHeadSelfS0157 custUseSoft,
    FHeadSelfS0156 sendDate,
    FHeadSelfS0158 controlCentId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0158) controlCent,
    FHeadSelfS0159 receiver, FHeadSelfS0160 linkman,FHeadSelfS0161 linkphone,fdate orderDate,ffetchadd sendAdd,
    FHeadSelfS0167 boxConfig,
    FHeadSelfS0163 payStyleId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0163) payStyle,
    FHeadSelfS0164 serviceId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0164) service,
    FHeadSelfS0165 OEMId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0165) OEM,
    FHeadSelfS0166 guaranteeId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0166) guarantee,
    FHeadSelfS0168 powerLineId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0168) powerLine,
    FHeadSelfS0169 boxId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0169) box,
    FHeadSelfS0170 printLineId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0170) printLine,
    FHeadSelfS0171 noteBookId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0171) noteBook,
    FHeadSelfS0172 packId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0172) pack,
    FHeadSelfS0173 CEId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0173) CE,
    FHeadSelfS0174 fumigateId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0174) fumigate,
    FHeadSelfS0175 markId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0175) mark,
    FHeadSelfS0176 correctionNoteId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0176) correctionNote,
    FHeadSelfS0177 tableTopId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0177) tableTop,
    FHeadSelfS0178 setPasswordId,
    (select fname from t_SubMessage where FInterID=FHeadSelfS0178) setPassword,
    FHeadSelfS0185 endCustId,
    (select fname from t_Organization where fitemid=FHeadSelfS0185) endCust,
    FHeadSelfS0179 gift,FHeadSelfS0180 remark
    from SEOrder
    where FInterID = #{orderId,jdbcType=VARCHAR}

  </select>

  <select id="selectDetailByOrderId" parameterType="java.lang.String" resultType="java.util.HashMap">
    select a.FItemID productId,a.FQty productNum,b.fname productName,b.FModel+'('+b.FNumber+')' productCode,
	a.FEntrySelfS0165 airPumpModel,a.FEntrySelfS0166 airPumpNum,a.FEntrySelfS0169 productSpecialDesc,
    a.FEntrySelfS0170 productGeneralDesc, a.FAuxPrice onePrice, a.FDate sendDate
    from SEOrderEntry a left join t_ICItem b on a.FItemID=b.FItemID
    where FInterID = #{orderId,jdbcType=VARCHAR}
    order by FEntryID
  </select>

  <update id="updateOrderByOrderId">
    update SEOrder set FHeadSelfS0186=#{state,jdbcType=VARCHAR} where FInterID = #{orderId,jdbcType=VARCHAR}

  </update>


  <select id="selectProductionOrder" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select FBillNo,FCheckDate,FCommitDate,FConfirmDate,
    FPlanFinishDate,FFinishDate,fheadselfj01106 workShop,
    datediff(dd,FPlanFinishDate,getdate()) timeoutDay
    from icmo
    where FCancellation = 0
    and FStatus=1
    and FPlanFinishDate &lt;= getdate()-#{timeoutDay,jdbcType=INTEGER}
    order by FPlanFinishDate
  </select>

  <select id="selectPurchaseOrder" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select a.FBillNo,a.FDate,c.FNumber,c.FName,c.FModel,
    b.FQty,b.FCommitQty,b.FStockQty,b.FDate deliveryDate,b.FNote,
    datediff(dd,b.FDate,getdate()) timeoutDay
    from POOrder a
    left join POOrderEntry b on a.FInterID=b.FInterID and b.FMrpClosed=0
    left join t_ICItem c on b.FItemID=c.FItemID
    where 1=1
    and a.FCancellation=0
    and a.FClosed=0
    and datediff(dd,b.FDate,getdate())&gt;= #{timeoutDay,jdbcType=INTEGER}
    order by b.FDate
  </select>



</mapper>