<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwei.sys.dao.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.jwei.sys.entity.SysRoleMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_menu
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" resultType="java.lang.String" parameterType="java.lang.Long" >
    select distinct d.url from sys_user_role a LEFT JOIN sys_role b ON a.role_id=b.id
    LEFT JOIN sys_role_menu c ON b.id = c.role_id
    LEFT JOIN sys_menu d ON c.menu_id=d.id
    where a.user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_role_menu
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>

  <resultMap id="MenuResultMap" type="com.jwei.sys.entity.SysMenu" >
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="seq" jdbcType="TINYINT" property="seq" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>

  <select id="selectMenuByRoleId" parameterType="java.lang.Long" resultMap="MenuResultMap">
    select a.id,a.name,a.description,a.type,a.icon,a.parent_id,b.id as seq
    from sys_menu a
    left join sys_role_menu b on a.id = b.menu_id
    and b.role_id=#{roleId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    delete from sys_role_menu
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByRecursionMenuId" parameterType="java.lang.Long">
    with wyb as
    (
    select id from sys_menu where id = #{menuId,jdbcType=BIGINT}
    union all
    select a.id from sys_menu a join wyb b on a.parent_id = b.id
    )
    delete sys_role_menu where menu_id in (select * from wyb)

  </delete>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jwei.sys.entity.SysRoleMenu" >
    insert into sys_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jwei.sys.entity.SysRoleMenu" >
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwei.sys.entity.SysRoleMenu" >
    update sys_role_menu
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwei.sys.entity.SysRoleMenu" >
    update sys_role_menu
    set role_id = #{roleId,jdbcType=BIGINT},
      menu_id = #{menuId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>