<!DOCTYPE html>
<html ng-app="productSearch" ng-controller="productCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>经纬科技</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/app.css" type="text/css"/>
    <link rel="stylesheet" href="../static/lib/jquery/select2/css/select2.min.css" type="text/css"/>


</head>
<body>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            行业工具标准配置
        </h3>
    </div>

    <div class="panel-body">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="/#byConfig" data-toggle="tab">模糊查询</a></li>
            <li><a href="/#ByModel" data-toggle="tab">型号查询</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active" id="byConfig">
                <div class="row">

                    <div class="col-xs-12 col-md-12">
                        &nbsp;&nbsp;
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <div><a class="text-info">行业列表</a></div>
                        <span ng-repeat="x in industryList">
                            <button ng-class="x.checked?'btn btn-info':'btn btn-default'" style="margin-bottom: 5px;" ng-click="choose(x)">{{x.name}}</button>
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        &nbsp;&nbsp;
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <div style="margin-bottom: 5px;"><a class="text-info">配置列表</a></div>
                        <div><a class="text-info">工具类</a></div>
                        <span ng-repeat="x in configList | filter:{'category':'1'}">
                            <button ng-class="x.checked?'btn btn-info':'btn btn-default'" style="margin-bottom: 5px;" ng-click="choose(x)">{{x.name}}</button>
                        </span>
                        <div><a class="text-info">附件类</a></div>
                        <span ng-repeat="x in configList | filter:{'category':'2'}">
                            <button ng-class="x.checked?'btn btn-info':'btn btn-default'" style="margin-bottom: 5px;" ng-click="choose(x)">{{x.name}}</button>
                        </span>
                    </div>

                    <!--<div class="col-xs-12 col-md-12">-->
                        <!--&nbsp;&nbsp;-->
                    <!--</div>-->

                    <!--<div class="col-xs-4 col-md-3">-->
                        <!--<div class="form-group">-->
                            <!--<button class="btn btn-default" ng-click="searchProduct()">查询</button>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>

            <div class="tab-pane fade" id="ByModel">
                <div class="row">

                    <div class="col-xs-12 col-md-12">
                        &nbsp;&nbsp;
                    </div>

                    <div class="col-xs-8 col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">型号</span>
                            <select id="modelSelect2" class="form-control">
                                <option value="">==全部==</option>
                                <option ng-repeat="x in modelList" value="{{x}}">{{x}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-3">
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="searchProductByModel()">查询</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <caption>产品列表</caption>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>类型</th>
                    <th>行业</th>
                    <th>型号</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in dataList" ng-click="getProductDetail(x.id)">
                    <td>{{$index+1}}</td>
                    <td>{{x.typeName}}</td>
                    <td>{{x.industryName}}</td>
                    <td>{{x.model}}</td>
                    <td>{{x.modelDesc}}</td>
                </tbody>
            </table>
        </div>

    </div>


</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 标题 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">详细配置信息</h4>
            </div>
            <div class="modal-body pre-scrollable">
                <div class="row">

                    <!--<div class="col-xs-12 col-md-6">
                        <div class="panel-heading">
                            <div class="input-group">
                                <span class="input-group-btn">
								    <button class="btn btn-info" type="button">类型</button>
							    </span>
                                <select select2 class="form-control" ng-model="typeId" >
                                    <option ng-repeat="x in typeList" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="panel-heading">
                            <div class="input-group">
							    <span class="input-group-btn">
								    <button class="btn btn-info" type="button">型号</button>
							    </span>
                                <input class="form-control" ng-model="addData.model" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <div class="panel-heading">
                            <div class="input-group">
							    <span class="input-group-btn">
								    <button class="btn btn-info" type="button">行业</button>
							    </span>
                                <select select2 class="form-control" ng-model="industry" multiple>
                                    <option ng-repeat="x in industryList" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-12">
                        <div class="panel-heading">
                            <div class="input-group">
							    <span class="input-group-btn">
								    <button class="btn btn-info" type="button">描述</button>
							    </span>
                                <input class="form-control" ng-model="addData.modelDesc" />
                            </div>
                        </div>
                    </div>-->

                    <div class="col-xs-12 col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <caption>√代表标配  ○代表选配  ✖代表不可选配</caption>
                                <thead>
                                <tr>
                                    <th>配置</th>
                                    <th>参数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in detailList | orderBy:'configValue'">
                                    <td>{{x.configName}}</td>
                                    <td>{{x.configValue==1?'✔':x.configValue==2?'O':x.configValue==3?'✖':''}}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 提交 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>



<!-- Jquery -->
<script src="../static/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/lib/jquery/select2/js/select2.min.js"></script>
<script src="../static/lib/jquery/select2/js/i18n/zh-CN.js"></script>
<script src="../static/lib/jquery/layer/mobile/layer.js"></script>


<!--Bootstrap-->
<script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Angular -->
<script src="../static/lib/angular/angular.min.js"></script>


<!-- App -->
<script src="services.js"></script>
<script src="productController.js"></script>


</body>
</html>