<div class="panel panel-default">
    <div class="col-sm-12">
        <ui-alert></ui-alert>
    </div>

    <div class="panel-heading">数据字典信息</div>
    <div class="panel-heading">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="/#factoryTable" data-toggle="tab">厂区</a></li>
            <li><a href="/#hourseTable" data-toggle="tab">车间</a></li>
            <li><a href="/#resourceTable" data-toggle="tab">设备</a></li>
            <li><a href="/#lineTable" data-toggle="tab">线体</a></li>
            <li><a href="/#operationTable" data-toggle="tab">工序</a></li>
        </ul>

        <div id="myTabContent" class="tab-content" style="height:100%;padding-top: 15px;">
            <div class="tab-pane fade in active" id="factoryTable">
                <!-- 查询条件 -->
                <div class="row">
                    <!-- 1  -->
                    <div class="col-sm-6 col-md-9">
                        <div class="panel-heading">
                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="searchDataWorkbook(1)"><i
                                        class="fa fa-search">查询</i></button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="addDataWorkbook(1)">
                                    <li class="fa icon-plus"></li>
                                    新增
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 查询结果 -->
                <div class="table-responsive">
                    <table class="table table-responsive table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>资源编号</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in factoryDataList">
                            <td style="width: 10%">{{$index+1}}</td>
                            <td style="width: 20%">{{x.resourceNo}}</td>
                            <td style="width: 20%">{{x.name}}</td>
                            <td style="width: 30%">
                                <button class="btn btn-info" ng-click="editDataWorkbook(x,1)">编辑</button>
                                <button class="btn btn-danger" ng-click="doDeleteDataWorkbook(x,1)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left text-center-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">共{{factoryDataList.length}}条数据</small>
                        </div>
                        <div class="col-sm-8 text-right text-center-xs">
                        </div>
                    </div>
                </footer>
            </div>
            <div class="tab-pane fade" id="hourseTable">
                <!-- 查询条件 -->
                <div class="row">
                    <!-- 1  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">厂区</button>
						</span>

                                <div ui-module="select2">
                                    <select ui-select2 ng-model="searchFactoryId" class="form-control ">
                                        <option value="">==全部==</option>
                                        <option ng-repeat="x in factoryTypeList" value="{{x.pid}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel-heading">
                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="searchDataWorkbook(2)"><i
                                        class="fa fa-search">查询</i></button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="addDataWorkbook(2)">
                                    <li class="fa icon-plus"></li>
                                    新增
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 查询结果 -->
                <div class="table-responsive">
                    <table class="table table-responsive table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>资源编号</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in hourseDataList">
                            <td style="width: 10%">{{$index+1}}</td>
                            <td style="width: 20%">{{x.resourceNo}}</td>
                            <td style="width: 20%">{{x.name}}</td>
                            <td style="width: 30%">
                                <button class="btn btn-info" ng-click="editDataWorkbook(x,2)">编辑</button>
                                <button class="btn btn-danger" ng-click="doDeleteDataWorkbook(x,2)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left text-center-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">共{{hourseDataList.length}}条数据</small>
                        </div>
                        <div class="col-sm-8 text-right text-center-xs">
                        </div>
                    </div>
                </footer>
            </div>
            <div class="tab-pane fade" id="resourceTable">
                <!-- 查询条件 -->
                <div class="row">
                    <!-- 1  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">厂区</button>
						</span>

                                <div ui-module="select2">
                                    <select ui-select2 ng-model="searchFactoryId" class="form-control ">
                                        <option value="">==全部==</option>
                                        <option ng-repeat="x in factoryTypeList" value="{{x.pid}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">车间</button>
						</span>

                                <div ui-module="select2">
                                    <select ui-select2 ng-model="searchHourseId" class="form-control ">
                                        <option value="">==全部==</option>
                                        <option ng-repeat="x in hourseTypeList" value="{{x.pid}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="searchDataWorkbook(3)"><i
                                        class="fa fa-search">查询</i></button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="addDataWorkbook(3)">
                                    <li class="fa icon-plus"></li>
                                    新增
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 查询结果 -->
                <div class="table-responsive" style="max-height: 450px;overflow-y: scroll;">
                    <table class="table table-responsive table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>资源编号</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in resourceDataList">
                            <td style="width: 10%">{{$index+1}}</td>
                            <td style="width: 20%">{{x.resourceNo}}</td>
                            <td style="width: 20%">{{x.name}}</td>
                            <td style="width: 30%">
                                <button class="btn btn-info" ng-click="editDataWorkbook(x,3)">编辑</button>
                                <button class="btn btn-danger" ng-click="doDeleteDataWorkbook(x,3)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left text-center-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">共{{resourceDataList.length}}条数据</small>
                        </div>
                        <div class="col-sm-8 text-right text-center-xs">
                        </div>
                    </div>
                </footer>
            </div>
            <div class="tab-pane fade" id="lineTable">
                <!-- 查询条件 -->
                <div class="row">
                    <!-- 1  -->
                    <div class="col-sm-6 col-md-9">
                        <div class="panel-heading">

                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="searchDataWorkbook(4)"><i
                                        class="fa fa-search">查询</i></button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="addDataWorkbook(4)">
                                    <li class="fa icon-plus"></li>
                                    新增
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 查询结果 -->
                <div class="table-responsive">
                    <table class="table table-responsive table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>资源编号</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in lineDataList">
                            <td style="width: 10%">{{$index+1}}</td>
                            <td style="width: 20%">{{x.resourceNo}}</td>
                            <td style="width: 20%">{{x.name}}</td>
                            <td style="width: 30%">
                                <button class="btn btn-info" ng-click="editDataWorkbook(x,4)">编辑</button>
                                <button class="btn btn-danger" ng-click="doDeleteDataWorkbook(x,4)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left text-center-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">共{{lineDataList.length}}条数据</small>
                        </div>
                        <div class="col-sm-8 text-right text-center-xs">
                        </div>
                    </div>
                </footer>
            </div>
            <div class="tab-pane fade" id="operationTable">
                <!-- 查询条件 -->
                <div class="row">
                    <!-- 1  -->
                    <div class="col-sm-6 col-md-9">
                        <div class="panel-heading">

                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel-heading">
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="searchDataWorkbook(5)"><i
                                        class="fa fa-search">查询</i></button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="addDataWorkbook(5)">
                                    <li class="fa icon-plus"></li>
                                    新增
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 查询结果 -->
                <div class="table-responsive" style="max-height: 450px;overflow-y: scroll;">
                    <table class="table table-responsive table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>资源编号</th>
                            <th>名称</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in operationDataList">
                            <td style="width: 10%">{{$index+1}}</td>
                            <td style="width: 20%">{{x.resourceNo}}</td>
                            <td style="width: 20%">{{x.name}}</td>
                            <td style="width: 20%">{{x.description}}</td>
                            <td style="width: 30%">
                                <button class="btn btn-info" ng-click="editDataWorkbook(x,5)">编辑</button>
                                <button class="btn btn-danger" ng-click="doDeleteDataWorkbook(x,5)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left text-center-xs">
                            <small class="text-muted inline m-t-sm m-b-sm">共{{operationDataList.length}}条数据</small>
                        </div>
                        <div class="col-sm-8 text-right text-center-xs">
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 标题 -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- 1  -->
                            <div class="col-sm-6 col-md-6" ng-show="addType==2 || addType==3">
                                <div class="panel-heading">
                                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button">厂区</button>
							</span>

                                        <div ui-module="select2">
                                            <select ui-select2 ng-model="addData.factoryId" class="form-control">
                                                <option value="">==全部==</option>
                                                <option ng-repeat="x in factoryTypeList" value="{{x.pid}}">{{x.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2  -->
                            <div class="col-sm-6 col-md-6" ng-show="addType==3">
                                <div class="panel-heading">
                                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button">车间</button>
							</span>

                                        <div ui-module="select2">
                                            <select ui-select2 ng-model="addData.hourseId" class="form-control">
                                                <option value="">==全部==</option>
                                                <option ng-repeat="x in hourseTypeList" value="{{x.pid}}">{{x.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="panel-heading">
                                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button">资源编号</button>
							</span>
                                        <input type="text" class="form-control" ng-model="addData.resourceNo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="panel-heading">
                                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button">名称</button>
							</span>
                                        <input type="text" class="form-control" ng-model="addData.name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <div class="panel-heading">
                                    <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button">描述</button>
							</span>
                                        <input type="text" class="form-control" ng-model="addData.description">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 提交 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="saveDataWorkbook()">提交保存</button>
                    </div>
                </div>
            </div>
        </div>


        <ui-confirm></ui-confirm>
